body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

#app {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ui-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: end; */
    pointer-events: none; /* Allow clicks to pass through */
}

#ui-overlay-cta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: end; */
    pointer-events: none; /* Allow clicks to pass through */
}

#cta-button-container{
    z-index: 9999;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

#cta-logo-container{
    z-index: 9999;
    display: flex;
    justify-content: center;
    margin: 1em;
}

#cta-logo-container img{
    width : 80%; 
}

#pixi-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through */
}

#ctaButton {
    background-color: #76ff37;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: auto; /* Allow clicks on the button */
    margin: 1.5em;
}

#headerRow{
    display: flex;
}

.headerRowItem{
    max-height: 100px;    
}

.headerRowItem img{
    max-height: 100px;    
}

.spacer{
    flex-grow: 1;
}

#inGameUIContainer{
    display: flex;
}

#scoreOutput{
    max-width: 200px;
    padding: 10px;
    font-size: 2em;
}

#levelOutput{
    max-width: 200px;
    padding: 10px;
    font-size: 2em;
}

#zone_joystick{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
}

#header-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#logo-container img{
    margin: 5px;
    max-height: 50px;
    width: auto;
}

@media (orientation: landscape) {

    #ui-overlay-cta{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        /* align-items: end; */
        /* pointer-events: none; Allow clicks to pass through */
    }

    #cta-button-container{
        z-index: 9999;
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
    }

    #cta-logo-container{
        z-index: 9999;
        display: flex;
        justify-content: center;
        margin: 1em;
    }

    #cta-logo-container img{
        width : 80%; 
    }

}